/*************************
BASIC LAYOUT STYLING
*************************/

body {
	margin: 0;
	padding: 0;
	max-width: 700px;
	font-family: Monospace, Arial, "sans-serif";
	font-size: 1.5em;
	background-color: #F8F5E1;
}

#all-content {
	position: relative;
	left: 100px;
	top: 80px;
}

/*************************
HOMEPAGE STYLING
*************************/
.heading {
	background-color: white;
	padding-left: 48px;
	border-color: black;
	border: 10px;
	border-style: double none none double;

}

.subheading {
	margin-top: -30px;
}

.heading p {
	padding: 0;
	margin: -5px;
	position: relative;
	left: 8px;
}

ul {
	list-style-type: none;
}
.completed, .incomplete {
	margin: 20px;
	padding: 10px;
	border: thin;
	background-color: whitesmoke;
	position: relative;
}
.completed {
	border-top: thick solid greenyellow;
}
.incomplete {
	border-top: thick solid red;
}

.completed:hover, .incomplete:hover {
	left: 15px;
}

/*************************
FOOTER AREA STYLING
*************************/
footer {
	text-align: center;
	color: darkgreen;
}
.last-modified {
	background-color: greenyellow;
	padding: 10px;
	border: 10px;
	border-color: darkgreen;
	border-style: double;
}
.validator {
	position: relative;
}
.validator:hover {
	bottom: 5px;
}

.validator img {
	max-width: 200px;
	border-radius: 15px;
	border: thin solid darkgreen;
	padding-top: 10px;
	background-color: white;
}

/*************************
WK1 FOUNDATIONS AREA STYLING
*************************/
nav {
	text-align: center;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin: 10px;
}

/*************************
WK1 VARIABLES AREA STYLING
*************************/
#table-page {
	text-align: center;
}
table {
	border-collapse: collapse;
}
th {
	background-color: darkolivegreen;
	color: white;
}
td {
	background-color: white;
}
th, td {
	padding: 10px;
	border: thin black solid;
	text-align: center;
}
#bio-page {
	text-align: center;
}
.profile {
	float: left;
}
blockquote {
	text-align: left;
	position: relative;
	left: 30px;
}
/*************************
WK2 FORMS AREA STYLING
*************************/

.product {
	float: left;
	margin-right: 20px;
}

hr {
	clear: both;
}
/*************************
WK4 SESSIONS AREA STYLING
*************************/

.login_box {
	background-color: white;
	border: 2px darkgreen solid;
	border-radius: 15px;
	margin: 50px;
	padding: 30px;
	text-align: center;
}
.return {
	float: left;
	margin-right: 525px;
}

/*************************
WK6 DATABASE AREA STYLING
*************************/
.delete {
	color: red;
}
.update {
	float: left;
	margin-right: 120px;
}
/*************************
CAPSTONE CMS STYLING
*************************/

.social {
	position: relative;
}
.social:hover {
	bottom: 5px;
}

.social img {
	max-width: 400px;
	border-radius: 15px;
	border: thin solid darkgreen;
	padding-top: 10px;
	background-color: white;
}
.product {
	max-width: 200px;
}
.add-to-cart {
	text-align: right;
}
.delete-item {
	text-align: right;
}
#update-quantity {
	float: left;
	position: relative;
	top: -40px;
}
.continue {
	float: left;
	margin-right: 470px;
}
#cart-heading, .centered-heading {
	text-align: center;
}
.welcome {
	text-decoration: underline;
	text-align: center;
}
.checkout-div, .purchase-div {
	text-align: center;
	max-width: 200px;
	margin: auto;
}
.checkout, .purchase {
	border: darkgreen 3px solid;
	background-color: white;
	border-radius: 15px;
	display: block;
}
.checkout:hover, .purchase:hover {
	background-color: azure;
}

.checkout a, .purchase a {
	color: darkgreen !important;
	text-decoration: none;
}
#purchase-page {
	text-align: right;
}